*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* 
.result {
  display: flex;
} */

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  /* width: 100%;
  height: 100%; */
  width: 711px;
  height: 386px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.search-form__fieldset-title {
  margin-top: 16px;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__list {
  position: relative;
  display: flex;
  height: 298px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  overflow: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__video-card {
  display: flex;
}

.content__video-card-title {
  width: 200px;
  color: #fff;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  color: #fff;
}

.content__card-link:active {
  text-decoration: none;
}

.content__card-link:focus {
  outline: 1px solid white;
}

.content__video-card-description {
  width: 200px;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
.title {
  margin-bottom: 45px; /*  26 */
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

fieldset {
  border: none;
}

.search-form__textfield {
  margin-top: 7.5px;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border-radius: 0px;
}

.search-form__textfield:focus {
  outline: 1px solid white;
}

.search-form__textfield:active {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 0px;
}

.search-form__label {
  cursor: pointer;
}

.search-form__checkbox:focus .search-form__label-text {
  outline: 1px solid white;
}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label-text:active {
  text-decoration: none;
}

.search-form__checkbox {
  margin-top: 10px; /*по макету 5, но на глаз маловато  */
  width: 19px;
  height: 19px;
}

.search-form__submit-button {
  margin-top: 36px;
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid white;
}

.button:active {
  cursor: pointer;
  background-color: #545050;
}

.more-button-template {
  position: relative;
}

.more-button {
  /* position: absolute; */
  /* display: flex; */
  /* bottom: 0; */
  width: 100%;
  /* z-index: 1; */
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background-color: #1b1919;
  color: white;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 
.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
} */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #1b1919;
  border: 1px solid white;
  margin-top: 5px;
}

input[type="checkbox"]:checked + span {
  background-image: url(../images/Group\ 38.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
